.Dropdown {
    min-width: 200px;
    position: relative;
    background-color: #fff;
}

.Dropdown>.header {
    padding: var(--gap);
    border: 1px solid #bbb;
}

.Dropdown>.header:hover {
    cursor: pointer;
    background-color: #e1e1e1;
}

.Dropdown>.header:active {
    background-color: #f1f1f1;
}

.Dropdown>.list {
    border: 1px solid #bbb;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #fff;
}

.Dropdown>.list>* {
    padding: var(--gap);
    border-bottom: 1px solid #bbb;
}

.Dropdown>.list>*:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.Dropdown>.list>*:active {
    background-color: #fff;
}

.Dropdown>.list>*.selected {
    background-color: aqua;
}