.Btn {
    background-color: #009578;
    border: none;
    color: #fff;
    padding: 0;
}

.Btn>.Line {
    gap: 0;
    padding: 0 var(--gap);
}

.Btn.with-icon>.Line {
    padding-left: 0;
}

.Btn>.Line>* {
    padding: var(--gap);
    white-space: nowrap;
}

.Btn>.Line>i {
    background-color: #00896F;
    border: 1px solid #00896F;
}

.Btn:hover {
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;
}

.Btn:active {
    opacity: 0.9;
    box-shadow: 1px 1px 3px #999;
}

.Btn[theme="cancel"] {
    background-color: #f1f1f1;
    color: #333;
}

.Btn[theme="cancel"]>.Line>i {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
}

.Btn[theme="delete"] {
    background-color: #DC3545;
}

.Btn[theme="delete"]>.Line>i {
    background-color: #BB2C3A;
    border: 1px solid #BB2C3A;
}

.Btn[disabled] {
    opacity: 0.3;
    cursor: default;
}