.Grid {
    display: grid;
    height: 100%;
    grid-template-rows: 60px 1fr 50px;
}

.Grid>* {
    padding: var(--gap);
}

.Grid>header {
    background-color: #333;
    color: #fff;
}

.Grid>footer {
    background-color: #e1e1e1;
}