html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.active {
    color: aqua;
}


/* .Article */

.Article {
    background-color: #b3c2ff;
    padding: var(--gap);
    max-width: 300px;
}

.Article>h3 {
    border-bottom: 1px solid #333;
    margin-bottom: var(--gap);
    padding-bottom: var(--gap);
}